#content h1 {
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 2px solid #D6D6D6;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}

#content h2 {
    margin-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 14px;
}

#content h3 {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}

#content h4 {
    font-size: 18px;
    margin: 20px 0;
    font-weight: bold;
}

#content h5,
#content h6 {
    font-size: 14px;
    margin: 20px 0;
    font-weight: bold;
}

#content {
    line-height: 24px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}

#content img {
    margin-bottom: 14px;
}

#content p {
    line-height: 24px;
    margin: 0;
    font-size: 14px;
    margin-bottom: 14px;
}

#content blockquote {
    border-width: 0;
    border-left: 5px solid #00bcf2;
    background-color: #eff6fb;
    margin: 20px 0;
    padding: 10px 14px 10px;
    font-size: 14px;
    color: #31708f;
}

#content .warning {
    border: 1px solid #faebcc;
    border-left: 5px solid #FFD39B;
    background-color: #fcf8e3;
    margin: 20px 0;
    padding: 10px 14px 10px;
    font-size: 14px;
    color: #8a6d3b;
}

#content .danger {
    border: 1px solid #ebccd1;
    border-left: 5px solid #FF7256;
    background-color: #f2dede;
    margin: 20px 0;
    padding: 10px 14px 10px;
    font-size: 14px;
    color: #a94442;
}

#content .success {
    border: 1px solid #d6e9c6;
    border-left: 5px solid #A2CD5A;
    background-color: #dff0d8;
    margin: 20px 0;
    padding: 10px 14px 10px;
    font-size: 14px;
    color: #3c763d;
}

#content blockquote p {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
    font-size: 12px;
}

#content ol p,
#content ul p {
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    font-size: 12px;
}

#content blockquote ul {
    padding-left: 8px;
}

#content ul {
    list-style-type: disc;
    padding-left: 25px;
}

#content img {
    max-width: 100%;
}

#content pre {
    padding: 0;
    margin-bottom: 14px;
}

#content pre code {
    white-space: pre;
    /*margin-top: 0px;*/
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid #e5e5e5;
    margin-bottom: 14px;
    font-size: 12px;
}

table thead {
    border-bottom: 1px solid rgba(170,170,170,.3);
    background: rgba(96,125,139,.04);
}

table th {
    padding: 5px 10px;
    border: 1px solid rgba(170,170,170,.3);
}

table td {
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
}

@media(min-width: 768px) {
    #content h1 {
        margin-top: 0;
        padding-bottom: 14px;
        border-bottom: 2px solid #D6D6D6;
        font-size: 26px;
        line-height: 36px;
        font-weight: 500;
        margin-bottom: 24px;
    }
    #content h2 {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    #content h3 {
        font-size: 20px;
        margin: 20px 0;
        font-weight: bold;
    }
    #content h4 {
        font-size: 18px;
        margin: 20px 0;
        font-weight: bold;
    }
    #content h5,
    #content h6 {
        font-size: 14px;
        margin: 20px 0;
        font-weight: bold;
    }
    #content {
        line-height: 24px;
        font-size: 14px;
        word-wrap: break-word;
        word-break: break-all;
    }
    #content img {
        margin-bottom: 24px;
    }
    #content p {
        line-height: 24px;
        margin: 0;
        font-size: 14px;
        margin-bottom: 15px;
    }
    #content blockquote p {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    #content ol p,
    #content ul p {
        margin: 0;
        padding: 0;
        margin-bottom: 3px;
        font-size: 14px;
    }
    #content blockquote ul {
        padding-left: 20px;
    }
    #content ul {
        list-style-type: disc;
        padding-left: 25px;
    }
    #content img {
        max-width: 100%;
    }
    #content pre {
        padding: 0;
        margin-bottom: 24px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: scroll;
        border: 1px solid #e5e5e5;
        margin-bottom: 24px;
    }
    table thead {
        border-bottom: 1px solid rgba(170,170,170,.3);
        background: rgba(96,125,139,.04);
    }
    table th {
        padding: 5px 10px;
        border: 1px solid rgba(170,170,170,.3);
    }
    table td {
        padding: 5px 10px;
        border: 1px solid #e5e5e5;
    }
    #content pre code {
        white-space: pre;
        /*margin-top: 22px;*/
    }
    pre {
        position: relative;
    }
    pre a {
        color: rgba(0,0,0,.5);
        position: absolute;
        top: 3px;
        right: 8px;
    }
    pre a:hover {
        color: rgba(0,0,0,1);
    }
    #content blockquote {
        border: 1px solid #bce8f1;
        border-left: 5px solid #00bcf2;
        background-color: #d9edf7;
        margin: 20px 0;
        padding: 10px 14px 10px;
        font-size: 14px;
        color: #31708f;
    }
    #content .warning {
        border: 1px solid #faebcc;
        border-left: 5px solid #FFD39B;
        background-color: #fcf8e3;
        margin: 20px 0;
        padding: 10px 14px 10px;
        font-size: 14px;
        color: #8a6d3b;
    }
    #content .danger {
        border: 1px solid #ebccd1;
        border-left: 5px solid #FF7256;
        background-color: #f2dede;
        margin: 20px 0;
        padding: 10px 14px 10px;
        font-size: 14px;
        color: #a94442;
    }
    #content .success {
        border: 1px solid #d6e9c6;
        border-left: 5px solid #A2CD5A;
        background-color: #dff0d8;
        margin: 20px 0;
        padding: 10px 14px 10px;
        font-size: 14px;
        color: #3c763d;
    }
}